@mixin mk_dflex_between {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

@mixin mk_dflex_center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

@mixin mk_dflex_center_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin mk_dflex_start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}